{% extends 'layout.html' %}

{% block main_content %}
<div class="container">
    <h1>{{ dojo.name }}</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
        {% for ninja in ninjas %}
            <tr>
                <td>{{ ninja.first_name }}</td>
                <td>{{ ninja.last_name }}</td>
                <td>{{ ninja.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_content %}<h1>{{ dojo.name }}</h1>