{% extends 'layout.html' %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>New Dojo</h1>
                <form action="/dojos/create" method="post">
                    <div class="row mb-3">
                        <label for="name" class="col-form-label col-sm-2" aria-label="Author Name">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h1>All Authors</h1>
                <div class="card">
                    <ul>
                    {% for author in authors %}
                        <li><a href="author/{{ author.id }}">{{ author.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}