{% extends 'layout.html' %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>New Books</h1>
                <form action="/books/create" method="post">
                    <div class="row mb-3">
                        <label for="title" class="col-form-label col-sm-2" aria-label="Book Title">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="num__of_pages" class="col-form-label col-sm-2" aria-label="Number of Pages">Number of Pages:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="num_of_pages" name="num_of_pages">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h1>All Books</h1>
                <div class="card">
                    <ul>
                    {% if books %}
                    {% for book in books %}
                    <li><a href="books/{{ book.id }}">{{ book.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}