{% extends 'layout.html' %}

{% block main_content %}

{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
<div class="card text-white bg-danger border-5 container">
    <div class="row justify-content-center">
        {% for m in flash_messages %}
        <p class="text-center">{{ m }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

<div class="container mt-3">
    <form class="row" method="post" action="/emails/create">
        <div class="row mb-3">
            <label for="email" class="col-form-label col-sm-2">Email: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email">
            </div>
        </div>
        <div class="row justify-content-end">
            <button type="submit" class="col-sm-3 btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}