<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Friends</title>
</head>
<body>
    <h1>Add a Friend</h1>
    <form method="post" action="/create/friend">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation">
        <input type="submit" value="Add Friend">
    </form>

    <h1>All my peeps</h1>
    {% for friend in all_friends  %}
        <p>First Name: {{ friend.first_name }}</p>
        <p>Last Name: {{ friend.last_name }}</p>
        <p>Occupation: {{ friend.occupation }}</p>
        <br>
    {% endfor %}
</body>
</html>