<!DOCTYPE html>
<html lang="en">

{% extends 'layout.html' %}

{% block content %}
<div class="card">
    <div class="mb-3 row">
        <h3>Submitted Info</h3>
        <label class="col-sm-2 col-form-label" for="name">Name:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="{{ survey['name'] }}">
        </div>
        <label class="col-sm-2 col-form-label" for="location">Dojo Location:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="{{ survey['location'] }}">
        </div>
        <label class="col-sm-2 col-form-label" for="languages">Favorite language:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="{{ survey['languages']}}">
        </div>
        <label class="col-sm-2 col-form-label" for="comment">Comment:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" value="{{ survey['comment']}}">
        </div>
    </div>
</div>
{% endblock %}